.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:80px;
	right:30px;
	/*background: linear-gradient(to right,#b40065e0,#821e81e0);
     background:  linear-gradient(to right,rgba(250, 180, 84, 0.7), rgba(250, 243, 84, 0.7));*/
    background-color:rgba(255,255,255,0.6);
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 8px #999;
    z-index: 10000!important;
    text-decoration: none;
    border: 1px solid black;
    padding-bottom: env(safe-area-inset-bottom);
    cursor: pointer;
}

.float p{
    font-size: 2.4em;
    font-weight: 300;
     color:black;/*#faab56;
    background:  linear-gradient(to bottom, rgba(250, 243, 84, 1),rgba(250, 170, 84, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}

@media only screen and (max-width: 575px) {
    .float{
        visibility: visible;
    }
}
@media only screen and (min-width: 576px) {
    .float{
        visibility: hidden;
    }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}