.resume-main{
    width: 100%;

    /* fallback */
    background: white;
    background-image: url(single_tile_purple.svg);
    background-image: url(single_tile_purple.svg), linear-gradient(to right, rgb(148,33,147), rgb(232,118,231));

    background-size: 8em, cover;
}

.resume-container{
    height:auto;
    padding-top:10vh;
    padding-bottom:10vh;
    text-align:center;
}

a.resume-download{
    padding:10px;
    font-weight:300;
    position: relative;
    cursor:pointer;
    background:rgba(255,255,255,0.2);
    color:white;
    text-decoration:none;
}

a.resume-download:before{
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
a.resume-download:hover:before {
  visibility: visible;
  width: 100%;
}

