.wrapper:before {
    top: 30vh;
    height: 50vh;
    transform: translate3d(-50%, -25%, 0);
}

.work-cover {
    margin: 0;
    height: 50vh;
    width: 100%;

    /* fallback */
    background: white;
    background-image: url(single_tile3.svg);
    background-image: url(single_tile3.svg), linear-gradient(to right, rgba(26, 160, 204, 1), rgba(26, 160, 204, 1), rgba(100, 203, 243, 0.917));

    background-size: 8em, cover;
}

.work-cover .wrapper:before {

    background: linear-gradient(to right, rgba(250, 170, 84, 1), rgba(250, 243, 84, 0.984));
    mix-blend-mode: difference;
}

.other-cover {
    height: 40vh;
}

.project-header {
    font-weight: 600;
    font-style: normal;
}

.project-caption {
    font-weight: 300 !important;
    font-style: normal;
    padding-right: 20px;
}

.read-more-div {
    margin-top: 20px;
}

a.read-more-link {
    padding-bottom: 5px;
    font-weight: 300;
    position: relative;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.3);
    padding: 5px 5px 5px 10px;
    text-decoration: none;
    color: black;
}

a.read-more-link:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.read-more-link:hover:before {
    visibility: visible;
    width: 100%;
}

.project-img {
    /*   max-width: 100%;*/
}

.img-div {
    /* text-align: center;*/
}

.skill-badge {
    display: inline-block;
    padding: 7px;
    border: 1px solid black;
    margin-bottom: 5px;
}

.skill-row {
    padding-top: 8px;
    padding-bottom: 10px;
}

.top-buffer {
    margin-top: 15%;
}

.first-top-buffer {
    margin-top: 8%;
}

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
    .project-cover {
        height: 560vh;
    }

    .project-caption {
        font-size: 1rem;
    }

    .wrapper:before {
        top: 30vh;
        height: 70vh;
        transform: translate3d(-50%, -20%, 0);
    }
}

/* Extra small devices (phones, 400px and up) */
@media only screen and (min-width: 400px) {
    .project-header {
        font-size: 6vw;
    }

    .read-more-link,
    .project-caption {
        font-size: 1rem;
    }

    .project-cover {
        height: 420vh;
    }
    .wrapper:before {
        top: 30vh;
        height: 65vh;
        transform: translate3d(-50%, -20%, 0);
    }
    .top-buffer{
        margin-top:30%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .project-header {
        font-size: 5vw;
    }

    .read-more-link,
    .project-caption {
        font-size: 1rem;
    }

    .project-cover {
        height: 375vh;
    }
    .top-buffer{
        margin-top:15%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .project-header {
        font-size: 4vw;
    }

    .read-more-link,
    .project-caption {
        font-size: 1.2em;
    }

    .project-cover {
        height: 320vh;
    }

    .project-img {
        margin: -15%;
        /*     max-height: 30vh;*/
    }
    .wrapper:before {
        top: 30vh;
        height: 50vh;
        transform: translate3d(-50%, -30%, 0);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .project-header {
        font-size: 3.5vw;
    }

    .read-more-link,
    .project-caption {
        font-size: 1.3rem;
    }

    .project-cover {
        height: 330vh;
    }
}

@media only screen and (min-width: 1200px) {
    .project-header {
        font-size: 3vw;
    }

    .project-cover {
        height: 330vh;
    }
}
